@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.bg {
    display: flex;
    justify-content: space-around;

}

.back {
    background-color: rgb(43, 39, 39);
}

.bg .brand {
    font-family: "Lakki Reddy", serif;
    text-decoration: none;
    color: orange;
    font-size: 36px;
}

.link li {
    color: orange;
    font-size: 16px;
    /* margin-right: 5px; */
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    margin-top: 300px;
}

.text div {
    color: white;
}

.text h1 {
    color: orange;
    font-weight: bold;
    font-size: 48px;
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 32px;
    }

    .text {
        font-size: 18px;
        margin-top: 300px;
    }
}

@media (max-width: 1024px) {
    .text h1 {
        font-size: 32px;
    }

    .text {
        margin-top: 300px;
        margin-bottom: 20px;
    }
}



/*////////////////////////////////////////////////////////*/

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form input,
select {
    width: 70%;
    margin-bottom: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(179, 174, 174);
}

.form select {
    width: 70%;
}

.btn {
    width: 70%;
    padding: 10px ;
    border-radius: 5px;
    background-color: orange;
    color: black;
    border: none;
}

.btn:hover {
    background-color: rgb(192, 127, 7);
}

.li {
    color: rgb(192, 127, 7);
}

.li:hover {
    color: orange;
}

.hd {
    text-align: center;
    font-size: 52px;
    color: orange;
    font-weight: bold;
}

/*//////////////////////////////////////////////////////////*/

.reserve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
}

.reserve form input,
select {
    width: 100%;
    margin: 0px 20px 15px 20px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(179, 174, 174);
}

.reserve label {
    margin: 0px 20px 0px 20px;
}

.reserve h1 {
    text-align: center;
    font-size: 36px;
    color: rgb(241, 172, 42);
    font-weight: 200;
}

.reserve form button {
    width: 100%;
    padding: 10px 10px;
    margin: 0px 20px 15px 20px;
    border-radius: 5px;
    background-color: orange;
    font-size: 20px;
    color: black;
    border: none;
}

.reserve form button:hover {
    background-color: rgb(192, 127, 7);
}



/*///////////////////////////////////////////////////////*/

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table table {
    border: 1px solid black;
    font-size: 14px;
}

.table th {
    border: 1px solid black;
    text-align: center;
}

.table td {
    border: 1px solid black;
    text-align: center;
}
.table td a{
    color: red;
    font-weight: 500;
}
/* .table td a:hover{
    color: rgb(157, 44, 44);
} */


/*//////////////////////////////////////////////////*/

.area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area button {
    margin-bottom: 50px;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    background-color: black;
    color: orange;
    font-weight: 700;
}

/*////////////////////////////////////////////*/

.add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.add input {
    width: 60%;
    margin-bottom: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(179, 174, 174);
}

.add button {
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: orange;
    padding: 10px;
}

.add button:hover {
    background-color: rgb(192, 127, 7);
}

/*///////////////////////////////////////////////*/

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 200px; */
}

.slot div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slots {
    cursor: pointer;
    margin: 10px;
    padding: 10px 0px;
    width: 80px;
    border-radius: 5px;
    background-color: gainsboro;
    font-weight: 500;
    box-shadow: 1px 1px gray;
    transition: background-color 0.3s ease;
}

.selected {
    background-color: green;
    color: white;
  }
  
  .selected.clicked {
    background-color: red;
  }

/* .slots.selected {
    background-color: green;
    color: white;
  } */

.hd2 {
    text-align: center;
    font-size: 36px;
    color: rgb(241, 172, 42);
    font-weight: 200;
    margin-bottom: 20px;
}
.btn2{
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    padding: 10px 15px;
    width: 100%;
}